@import '../custom';




#card-root{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
    width: 100vw;

    .card-content-root{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 90%;
        width: 95%;
        max-width: 1200px;        


        .card-title-container{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            align-self: center;
            text-align: center;
            width: 70%;
            min-width: 250px;
            height: 40%;

            p{
                color: rgb(141, 141, 141);
            }
        }

        .card-content-container{
            display: flex;
            width: 100%;
            height: 60%;
            justify-content: space-between;

            .card-content{
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                padding: 20px;
                border-radius: 15px;
                width: 23%;
                height: 100%;
                max-height: 350px;
                background-color: $green;
                color: white;

                .card-icon{
                    width: 50px;
                    height: 50px;
                    border-radius: 50px;
                    background-color: teal;
                }
            }
            .card-content-1{
                background-color: $orange;
                .card-icon-1{
                    background-image: url(../../assets/css/img/person-fill.svg);
                    background-repeat: no-repeat;
                    background-position: center;
                    background-size: 60%;
                    background-color: #FF7556;

                }
            }
            .card-content-2{
                background-color: white;
                border: 1px solid rgb(219, 219, 219);
                color: gray;

                .card-icon-2{
                    background-image: url(../../assets/css/img/clock-fill.svg);
                    background-repeat: no-repeat;
                    background-position: center;
                    background-size: 60%;
                    background-color: #FFF1ED;


                }
            }
            .card-content-3{
                background-color: $green;

                .card-icon-3{
                    background-image: url(../../assets/css/img/mic-fill.svg);
                    background-repeat: no-repeat;
                    background-position: center;
                    background-size: 60%;

                }
            }
            .card-content-4{
                background-color: #050405;
                .card-icon-4{
                    background-image: url(../../assets/css/img/battery-half.svg);
                    background-repeat: no-repeat;
                    background-position: center;
                    background-size: 60%;
                    background-color: #262526;

                }
            }
        }
    }
}


@media only screen and (max-width: 1100px) {
    #card-root{
        height: 1900px;

        .card-content-root{
            justify-content: flex-start;

            .card-title-container{
                max-height: 300px;

            }
            
            .card-content-container{
                height: 100%;
                flex-direction: column;
                justify-content: space-around;
                align-items: center;

                
                .card-content{
                    width: 70%;
                    height: 250px;
                    
                }
            }
        }
    }
   
}


@media only screen and (max-width: 550px) {
    #card-root{

        .card-content-root{
   

            .card-title-container{
                width: 100%;
            }
            
            .card-content-container{

                
                .card-content{
                    width: 100%;
                }
            }
        }
    }
}
