@import '../custom';
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css");


#footer-root{
    height: 100vh;
    max-height: 550px;
    min-height: 550px;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $primary;

    .footer-container{
        display: flex;
        justify-content: center;
        align-items: center;
        box-sizing: border-box;
        height: 400px;
        width: 95%;
        background-color: $primary;
        max-width: 1200px;


        .footer-content{
            display: flex;
            width: 65%;
            height: 50%;
            align-items: center;
            justify-content: space-around;
            flex-direction: column;

            .footer-socials{
                display: flex;
                justify-content: space-between;
                color: white;
                width: 200px;
                
                    i{

                    }
            }
            .footer-links{ 
                display: flex;
                justify-content: space-between;
                width: 300px;

                a{
                    font-size: 18px;
                    color: white;
                }
            }
            .footer-info{
                p{
                    font-size: 10px;
                    color: white;

                }
            }
        }
    }
}
